In [3]:
#Integer means poora number (koi point nahi hota )

age = 12
print("Age is:", age)
print("data type of age is:", type(age))

Age is: 12
data type of age is: <class 'int'>

In [4]:
# float matlab number jisme point hota hai 

temperature = 36.6
print("Temperature is:", temperature)
print("data type of temperature is:", type(temperature))

Temperature is: 36.6
data type of temperature is: <class 'float'>

In [5]:
#String means kuch bhi likha hua text ya word humesha "" ya '' ke andar likhte hain

name = "Akshita"
print("Name is:", name)
print("data type of name is:", type(name))

Name is: Akshita
data type of name is: <class 'str'>

In [6]:
# boolean ka matlab hota hai true ya false

is_student = True
print("Is student:", is_student)
print("data type of is_student is:", type(is_student))

Is student: True
data type of is_student is: <class 'bool'>

In [7]:
# none - jab kisi variable ki value abhi decide nahi ki h 

homework_done = None
print("Homework done:", homework_done)
print("data type of homework_done is:", type(homework_done))

Homework done: None
data type of homework_done is: <class 'NoneType'>

In [8]:
# list - ek list jisme multiple values hoti hain, square brackets me likhte hain

fruits = ["apple", "banana", "cherry"]
print("Fruits list:", fruits)
print("data type of fruits is:", type(fruits))

Fruits list: ['apple', 'banana', 'cherry']
data type of fruits is: <class 'list'>

In [9]:
# tuple bhi list jaisa hi hota h but fixed hota h (change nhi hota h)

colors = ("red ", "green", "blue")
print("colors tuple:" , colors)
print("data type of colors" , type(colors))

colors tuple: ('red ', 'green', 'blue')
data type of colors <class 'tuple'>

In [10]:
# dictionary - ek dictionary jisme key-value pairs hote hain 

student = {"name" : "Akshita", "age": 12 , "class": "7th"}
print("Student info:" , student)
print("data type of student is:", type(student))

Student info: {'name': 'Akshita', 'age': 12, 'class': '7th'}
data type of student is: <class 'dict'>

In [12]:
# set me values repeat nhi hoti h 

unique_numbers = {1,24,6,92,3,1,4,0}
print("Unique numbers set:", unique_numbers)
print("data type of unique_numbers is:", type(unique_numbers))

Unique numbers set: {0, 1, 3, 4, 6, 24, 92}
data type of unique_numbers is: <class 'set'>